variables:
  VERSION: v0.0.1

workflow:
  rules:
    - if: $CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS && $CI_PIPELINE_SOURCE == "push"
      when: never
    - if: '$CI_PIPELINE_SOURCE =~ /merge_request_even|web/'
    - if: '$CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS'
      when: never
    - if: '$CI_COMMIT_BRANCH'

test_variables:
  stage: test
  script:
    - echo "$CI_API_V4_URL $CI_PROJECT_ID"

stages:
  - test
  - build
  - package
  - deploy:dev

build:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [ "" ]
  before_script:
    - mkdir -p /kaniko/.docker
    - echo "{\"auths\":{\"$CI_REGISTRY\":{\"auth\":\"$(echo -n ${CI_REGISTRY_USER}:${CI_REGISTRY_PASSWORD} | base64)\"}}}" > /kaniko/.docker/config.json
  script:
    - /kaniko/executor --context $CI_PROJECT_DIR --dockerfile $CI_PROJECT_DIR/Dockerfile --no-push
  only:
    - merge_requests
    - pushes

package:
  stage: package
  variables:
    TAG: ${CI_COMMIT_SHORT_SHA}
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [ "" ]
  before_script:
    - mkdir -p /kaniko/.docker
    - echo "{\"auths\":{\"$CI_REGISTRY\":{\"auth\":\"$(echo -n ${CI_REGISTRY_USER}:${CI_REGISTRY_PASSWORD} | base64)\"}}}" > /kaniko/.docker/config.json
  script:
    - echo "$TAG"
    - /kaniko/executor --context $CI_PROJECT_DIR --dockerfile $CI_PROJECT_DIR/Dockerfile --destination ${CI_REGISTRY}.${CI_PROJECT_NAME}:${TAG}
    - echo "TAG=${TAG}" >> tag.env
  artifacts:
    reports:
      dotenv: tag.env
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: manual

deploy:dev:
  stage: deploy:dev
  extends:
    - .deploy
    - .common:dev
  script:
    - echo "Deploying to dev"

.deploy:
  dependencies:
    - build
    - package

.common:dev:
  environment:
    name: dev
  variables:
    ENVIRONMENT: "dev"
    CONFIG_PATH: ./src/main/resources/application-dev.properties
  rules:
    - if: '$CI_COMMIT_REF_NAME =~ /develop|^FEAT.*$/i'
      when: manual
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: manual
