# This template is located at:
# https://gitlab.com/gitlab-org/gitlab/-/blob/master/lib/gitlab/ci/templates/Maven.gitlab-ci.yml
# For docker image tags see https://hub.docker.com/_/maven/
# For general lifecycle information see https://maven.apache.org/guides/introduction/introduction-to-the-lifecycle.html
image: docker:stable

workflow:
  rules:
    - if: $CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS && $CI_PIPELINE_SOURCE == "push"
      when: never
    - if: '$CI_PIPELINE_SOURCE =~ /merge_request_even|web/'
    - if: '$CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS'
      when: never
    - if: '$CI_COMMIT_BRANCH'

variables:
  # This will suppress any download for dependencies and plugins or upload messages which would clutter the console log.
  # `showDateTime` will show the passed time in milliseconds. You need to specify `--batch-mode` to make this work.
  MAVEN_OPTS: "-Dhttps.protocols=TLSv1.2 -Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=WARN -Dorg.slf4j.simpleLogger.showDateTime=true -Djava.awt.headless=true"
  # As of Maven 3.3.0 instead of this you may define these options in `.mvn/maven.config` so the same config is used
  # when running from the command line.
  # `installAtEnd` and `deployAtEnd` are only effective with recent version of the corresponding plugins.
  MAVEN_CLI_OPTS: "--batch-mode --errors --fail-at-end --show-version -DinstallAtEnd=true -DdeployAtEnd=true"

services:
  - docker:20.10-dind

#before_script:
#  - df
#  - cat /etc/resolv.conf
#  - cat /etc/hosts

stages:
  - test
  - build
  - deploy:dev

build:maven:
  image: maven:3.8-openjdk-11
  stage: build
  script: "mvn clean install -B"
  artifacts:
    paths:
      - target/*.jar

build:image:
  stage: build
  script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    - docker build -t registry.gitlab.com/ultra207/ultrasound-app .
    - docker push registry.gitlab.com/ultra207/ultrasound-app:latest
  dependencies:
    - build:maven

cache:
  key: $CI_JOB_NAME
  paths:
    - .m2/repository

test_variables:
  stage: test
  script:
    - echo "$CI_API_V4_URL $CI_PROJECT_ID"

  #Development Jobs

deploy:dev:
  extends:
    - .deploy
    - .common:dev
  stage: deploy:dev
  script:
    - git remote add heroku https://heroku:$HEROKU_API_KEY@git.heroku.com/ult-api-dev
    - git push -f heroku

.deploy:
  dependencies:
    - build:maven
    - build:image

.common:dev:
  environment:
    name: dev
  variables:
    ENVIRONMENT: "dev"
  rules:
    - if: '$CI_COMMIT_REF_NAME =~ /develop|^FEAT.*$/i'
      when: manual
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: never